body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.3s, color 0.3s;
  }
  
  :root {
    --bg-color-light: #f0f0f0;
    --text-color-light: #333;
    --bg-color-dark: #333;
    --text-color-dark: #f0f0f0;
  }
  
  body.light {
    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
  }
  
  body.dark {
    --bg-color: var(--bg-color-dark);
    --text-color: var(--text-color-dark);
  }
  
  .container {
    max-width: 500px; /* ลดความกว้างของ container */
    margin: 50px auto;
    padding: 20px;
    background-color: var(--bg-color);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .theme-toggle {
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    font-size: 20px;
    cursor: pointer;
  }
  
  .theme-toggle:hover {
    background-color: #ddd;
  }
  
  form {
    margin-top: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    font-size: 1.1rem;
    text-transform: capitalize;
    color: #444;
    letter-spacing: 0.5px;
  }
  
  input, select {
    width: 90%; /* ปรับให้ input สั้นลงจาก 100% เป็น 90% */
    padding: 8px; /* ลด padding ให้ input ดูกระชับ */
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 0.95rem; /* ลดขนาดฟอนต์ลง */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }
  
  input:focus, select:focus {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  button {
    width: 80%; /* ปรับความกว้างให้แคบลง */
    padding: 10px; /* ลด padding เพื่อให้ปุ่มดูสั้นลง */
    background: linear-gradient(135deg, #6b23ff, #8e54e9);
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1.1rem; /* ลดขนาดฟอนต์ */
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.2s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  button:hover {
    background: linear-gradient(135deg, #8e54e9, #6b23ff);
    transform: translateY(-2px);
  }
  
  button:active {
    transform: translateY(0);
  }
  
  h2 {
    margin-top: 20px;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
  }
  